
/* Use when referring to a school. i.e Text "Fire" should use .fire class */

.fire, .fire a{
    color:orange !important;
}

.ice, .ice a {
    color:rgb(0, 139, 139) !important;
}

.storm, .storm a{
    color: purple !important;
}

.death, .death a{
    color: rgb(55, 55, 55) !important;
}

.life, .life a {
    color:green !important;
}

.myth, .myth a{
    color: yellow !important;
}

.balance, .balance a{
    color: rgb(128,0,0) !important;
}