/* Various components for Notable Events for differing events.
20th May 2023 /static/css/notable_events/event_templates.css
 */

 :root{
  --oranges: #f79646;
  --highlighting: rgba(240, 200, 0, 0.2);
  --blue-text-kil: #4bacc6; /*h common */
  --green-text-kil: #92d050;
  --light-blue-kil: #92cddc; /* s */
  --dark-purple: #8064a2;
  --kl: #c0504d;
  --j: #9bbb59;
  --k: #8064a2;
  --f: #d99694;

}

/* KI Live Components */

.kingsisle-live{
    width: fit-content !important;
    height: fit-content !important;
    inline-size: 1000px !important;
  }      


  .state-of-the-games{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f79646;
    font-size: 50px;
  }

  .title-heading{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: yellow;
-webkit-text-stroke: 1px black;
}

.kil-highlighting{
 background: rgba(240, 200, 0, 0.2);
}

.kil-highlighting2{
  background: #9254de;
  font-weight: 700;
}

.kil-highlighting3{
  background:rgba(74,82,199,0.2);
}

.kil-bold{
  font-weight: 700;
}