/*CORE: Custom font sizes & weights separate from font entries.
9th May 2023 1613hrs /static/css/web_wide/font_sizes.css
 */

.fs-ten{
 font-size: 10px; !important;
}

.fs-twenty{
    font-size: 20px; !important;
}

.fs-thirty{
    font-size: 30px; !important;
}

.fs-fourty{
    font-size: 40px; !important;
}

.fs-fifty{
    font-size: 50px; !important;
}


/* Start font-weight entries */

.fw-light{
    font-weight: 400;
}

.fw-bold, .fw-bold code{
    font-weight: 700;
}

.fw-italic{
    font-style: italic;
}

.pd-10{
    padding: 10px;
}

.m-20{
    margin: 20px;
}